*{
  box-sizing: border-box;
}

/* General styles for the whole page */
body {
  font-family: Arial, sans-serif; /* Sets the font */
  background-color: #f5f5f5; /* Light background color */
  display: flex; /* Align the page in the center */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  margin: 0; /* Removes default margin */
}

/* Main section */
main {
  width: 100%;
  max-width: 1000px; /* Limits width to 400px */
  padding: 20px; /* Adds padding around the main section */
}

/* Form container styles */
form.creditCardForm {
  display: grid;
  max-height: 600px;
  max-width: 500px;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Styles for the front side of the card */
.cardFront {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  gap: 10px;
  padding: 20px;
  background-color: #808088;
  color: white;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* Input labels and text fields */
.cardFront label,
.cardBack label {
  font-size: 14px; /* Smaller font for labels */
}

.cardFront input,
.cardBack input {
  padding: 10px; /* Adds space inside the inputs */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px; /* Slightly rounded corners */
  width: 100%;
}

/* Back of the card */
.cardBack {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 20px;
  background-color: #808088;
  color: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

/* Grey bar on the back of the card */
.greyBar {
  background-color: #2b2b2b; /* Dark grey color */
  height: 40px; /* Set the height of the bar */
  margin-bottom: 10px;
  width: 100%;
}

/* Submit button styles */
button {
  padding: 12px 20px;
  background-color: #af1b3f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  grid-column-start: 3;
  grid-row-start: 4;
}

button:hover {
  background-color: #9b1636; /* Darker red on hover */
}
