/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* Custom Properties */
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--text-light);
    color: var(--text-dark);
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.logo img {
    max-width: 150px; /* Set a maximum width for the logo */
}

/* Heading Styles */
h1 {
    font-family: var(--secondary-font);
    font-size: 2rem; /* Increase font size for main heading */
    margin: 0.5rem 0;
}

/* Search Form Styles */
.search-section {
    text-align: center;
    margin: 1rem 0;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form label {
    margin-bottom: 0.5rem;
}

.search-form input {
    padding: 0.5rem;
    border: 1px solid var(--text-dark);
    border-radius: 4px;
    width: 80%; /* Responsive input width */
    max-width: 300px; /* Maximum width for input field */
}

.search-form button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #45b6b6; /* Adjusted color for hover effect */
}

/* Recipe Section Styles */
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-container {
    width: 100%;
    max-width: 600px; /* Limit width for larger screens */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

footer p {
    font-size: 0.6em; /* Smaller size for attribution */
}

.social {
    margin-top: 1rem;
}

/* Responsive Styles */
@media (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem; /* Add more padding for larger screens */
    }

    .logo img {
        max-width: 120px; /* Adjust logo size for wider screens */
    }
}

@media (min-width: 960px) {
    main {
        max-width: 960px; /* Limit maximum width to avoid stretching */
        margin: auto; /* Center main content */
    }
}
